CREATE DATABASE [EA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EA.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EA_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [EA]
GO
USE [EA]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [EA] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
